/* BELINO COELHO V.1.0
BudHelisson Designer & Developer | www.helisson.com.br 
*/

/* Main Sass File */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

/* Base Styles -------------------- */
body {
  font-family: "Roboto Condensed", sans-serif;
}

/* Custom Mixins -------------------- */

/* HIDDEN */
@mixin hidden {
  display:none !important;
}
.hidden {
  @include hidden;
}

@mixin desk-show {
  @media (max-width: 480px) {
    @include hidden;
  }
}

@mixin mob-show {
  @media (min-width: 480px) {
    @include hidden;
  }
}

@mixin opacity {
  opacity: 0.88;
}

@mixin transition-smooth {
  -webkit-transition: 0.3s all;
  -o-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  transition: 0.2s all
}

@mixin transition {
  transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

@mixin transform-zoom {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

@mixin translate {
  -webkit-transform: translate(5px,0);
  -moz-transform: translate(5px,0);
  -ms-transform: translate(5px,0);
  -o-transform: translate(5px,0);
  transform: translate(5px,0);
}

a:before,
a:after {
  cursor: pointer;
  @include transition-smooth;
}

a {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* EFFECT SCALE*/
.effect-scale {
  @include transition;
  @include transition-smooth;
  &:hover {
    @include transform-zoom;
  }
}


// SAVE
.save-png {
  width:100%;
  background: url(../img/belino.png) top center no-repeat;
  background-size:cover;
  height:8281px;
}

.min-height {
  border: 1px dashed #ccc;
  background-color:#f9f9f9;
  min-height: 100vh;
  padding-top:20px;
}


/* MEDIA QUERIES */

// @media (max-width: 1024px)

// @media (max-width: 768px)

// @media (max-width: 425px)

// @media (max-width: 320px)

// @include media-breakpoint-up(xs) { ... }
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }